image : node:20
stages: 
  - build
  - test
  - deploy staging
  - deploy production
  - production tests

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - node_modules/

variables:
  STAGING_DOMAIN: blueberry1-staging.surge.sh
  PRODUCTION_DOMAIN: blueberry1.surge.sh

build website:
  stage: build
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
     - node_modules/
  script:
    - echo $CI_COMMIT_SHORT_SHA
    - npm install
    - npm install -g gatsby-cli
    - gatsby build
    - sed -i "s/%%VERSION%%/$CI_COMMIT_SHORT_SHA/" ./public/index.html
  artifacts:
    paths:
      - public/

Test artifact:
  image: alpine
  stage: test
  script:
    - grep -q -i "gatsby" ./public/index.html

Test website:
  stage: test
  script: 
    - npm install
    - npm install -g gatsby-cli
    - gatsby serve & 
    - sleep 10
    - curl "http://localhost:9000" | grep -i -q "gatsby"

deploy staging:  
  stage: deploy staging
  environment:
    name: staging
    url: http://${STAGING_DOMAIN}
  only:
    - main
  script:
    - npm install --global surge
    - surge --project ./public --domain blueberry1-staging.surge.sh

deploy production:  
  stage: deploy production
  environment:
    name: production
    url: http://$PRODUCTION_DOMAIN
  only:
    - main
  # when: manual
  # allow_failure: false
  before_script:
    - echo "deploying to production"
    - npm install --global surge
  script:
    - surge --project ./public --domain $PRODUCTION_DOMAIN

Deployment tests:  
  image: alpine
  stage: production tests
  only:
    - main
  script:
    - apk add --no-cache curl
    - curl "https://blueberry1.surge.sh/" | grep -i "Tutorial" 
    - curl "https://blueberry1.surge.sh/" | grep -i "$CI_COMMIT_SHORT_SHA" 

  